
footer{
  background-color: rgba(35, 37, 54, 1);
  width: 100%;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
}
.fotter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}
.color_text_footer{
  color: rgb(210, 210, 210);
  font-family: inter, arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.fotter .footer_icon{
  display: flex;
  gap: 14px;
}

@media (max-width: 500px) {
  .fotter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}